.idea/
mlruns/
local/
AutogluonModels/
*.ipynb_checkpoints
.DS_Store
archives/classification_recipe/artifacts
archives/regression/artifacts
archives/regression/registry/models
dist/
*.egg-info/
build/
